body {
    font-family: Poppins;
}

label {
    font-weight: 400;
    font-size: 16px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

#section-1 {
    /* position: relative; */
    height: 1208.69px;
    background-image: url(/images/map.jpeg);
    background-size: cover;
    /* Cover the entire container */
    background-position: center;
    /* Center the background image */
    padding: 100px 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.29);
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 300px;
    max-width: 90%;
    padding: 20px; */
}

.card-1 {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 90%;
    padding: 20px;
}

.card-2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 90%;
    padding: 20px;
}

.card-3 {
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 90%;
    padding: 20px;
}

.card-4 {
    position: absolute;
    top: 115%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 90%;
    padding: 20px;
}


.section-2 {
    background-color: #FEF3EB;
    border-radius: 12px;
}

#section-2 p {
    font-size: 18px;
    font-weight: 500;
    color: #707070;
}

#section-2 input,
#section-2 select,
#section-2 textarea {
    border-radius: 4px;
    padding: 12px 14px;
    border: 1px solid #000;
}

#section-2 .custom-btn {
    background-color: #F18234;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 32px;
}

#section-2 img {
    width: 100%;
    border-radius: 12px;
}


@media (max-width: 992px) {
    #section-1 {
        background-image: none;
    }

    #section-2 {
        background-image: url(/images/contact-2.jpg);
        border-radius: 0;
    }

    .card-1,
    .card-3 {
        position: relative;
        top: 20%;
        left: 40%;
    }

    .card-2,
    .card-4 {
        position: relative;
        top: 20%;
        left: 80%;
    }
}

@media (max-width: 572px) {

    #section-2 {
        background-image: none;
        background-color: transparent;

    }
}