body {
    font-family: Poppins;
}

label {
    font-weight: 400;
    font-size: 16px;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    color: #F18234;
}

#section-1 {
    height: 1208.69px;
    background-image: url(../images/map.jpeg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}


.custom-card {
    background: linear-gradient(140.91deg, rgba(255, 255, 255, 0.4) -18.25%, rgba(255, 255, 255, 0) 165.96%);
    border-radius: 12px;
    color: #fff;
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-image-source: linear-gradient(134.36deg, #FFFFFF -1.4%, #555555 45.16%, #FFFFFF 87.1%);
}

.triangle-right {
    position: absolute;
    top: 10%;
    right: -16px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #FFFFFF66;
}

.triangle-top {
    position: absolute;
    top: -16px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #FFFFFF66;
}

.triangle-bottom {
    position: absolute;
    bottom: -16px;
    left: 56px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-top: 16px solid #FFFFFF66;
    border-right: 16px solid transparent;
}


.img-div {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 5px;
}

.img-div::-webkit-scrollbar {
    display: none;
}

.img-card {
    border-radius: 8px;
    height: 103.22px;
    overflow: hidden;
    min-width: 178px;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

/* .custom-card:hover .card-content {
    max-height: 500px;
} */

.card-content p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 12px;

}

.card-content a span {
    text-decoration: underline;
}

.card-content span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.card-content.show {
    max-height: 500px;
    /* Set the max-height to your desired value */
}

.card-btn {
    background-color: #F18234;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    border: none;
    border-radius: 0 0 12px 12px;
}

.card-1 {
    max-width: 433.52px;
    /* margin-left: 50px; */
    left: 40%;
    position: absolute;
    z-index: 4;
}

.card-2 {
    max-width: 433.52px;
    margin-top: 80px;
    margin-left: 150px;
    right: 10%;
    top: 40%;
    position: absolute;
    z-index: 3;
}

.card-3 {
    max-width: 433.52px;
    margin-top: 150px;
    left: 10%;
    top: 60%;
    position: absolute;
    z-index: 2;
}

.card-4 {
    max-width: 433.52px;
    margin-top: 120px;
    margin-left: 90px;
    right: 10%;
    top: 75%;
    position: absolute;
    z-index: 1;
}


.section-2 {
    background-color: #FEF3EB;
    border-radius: 12px;
}

#section-2 h4 {
    font-size: 32px;
    font-weight: 600;
}

#section-2 p {
    font-size: 18px;
    font-weight: 500;
    color: #707070;
}

#section-2 input,
#section-2 select,
#section-2 textarea {
    border-radius: 4px;
    padding: 12px 14px;
    border: 1px solid #000;
}

#section-2 .custom-btn {
    background-color: #F18234;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 32px;
}

#section-2 img {
    width: 100%;
    border-radius: 12px;
}






@media (max-width: 992px) {
    #section-1 {
        background-image: none;
        height: auto;
        padding: 0;
    }

    .card-heading {
        background-color: #F18234;
        padding: 12px 12px;
        border-radius: 12px 12px 0 0;

    }

    .img-div,
    .img-card,
    .card-btn {
        display: none;
    }

    .card-content {
        max-height: fit-content;
        color: #000;
        background-color: #FEF3EB;
        border-radius: 0 0 12px 12px;

    }

    .card-content span {
        color: #000;
    }

    .section-2 {
        background-color: transparent;
    }

    #section-2 {
        background-image: url(/images/contact-2.jpg);
        border-radius: 0;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4 {
        width: 100%;
        margin: 0;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

}

@media (max-width: 572px) {

    #section-2 {
        background-image: none;
        background-color: transparent;
    }
}